<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.mobiprojeto">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Include this only if you are planning to use the camera roll    -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Include this only if you are planning to use the microphone for video recording -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

     <uses-permission android:name="android.permission.READ_PHONE_STATE" />
     <!-- <uses-permission android:name="android.permission.READ_SMS" /> -->
    <uses-permission android:name="READ_PHONE_NUMBERS" />


    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="true"
      android:theme="@style/AppTheme"
      
      >
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <!-- <intent-filter android:label="@string/filter_view_example_gizmos"> -->
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <!-- Accepts URIs that begin with "example://gizmos” -->
            <data android:scheme="example"
                  android:host="gizmos" />
        </intent-filter>   

      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

<!-- ADICIONADO EM 26/07/2021 ABAIXO -->
   <meta-data
    android:name="com.google.android.geo.API_KEY"
    android:value="AIzaSyDUzhMrAdUgedgzPE1wRgSunrGQK92tK9s"/>

  <!-- You will also only need to add this uses-libray tag -->
  <uses-library android:name="org.apache.http.legacy" android:required="false"/>
<!-- ADICIONADO EM 26/07/2021 ACIMA -->


    </application>


<!-- ADICIONADO EM 22/10/2020 ABAIXO
<application>
   <meta-data
    android:name="com.google.android.geo.API_KEY"
    android:value="AIzaSyDUzhMrAdUgedgzPE1wRgSunrGQK92tK9s"/>

  You will also only need to add this uses-libray tag
  <uses-library android:name="org.apache.http.legacy" android:required="false"/>
</application>
ADICIONADO EM 22/10/2020 ACIMA -->

</manifest>
