@font-face {
     font-family: coolveticarg;
     src: url('coolveticarg.ttf');
}

body{
    background-color: #2A3E4A;
    align-items: center;
    vertical-align: center;
}

.logo, .logo-under{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "coolveticarg";
    font-size: 80;
    animation: road 10s linear infinite alternate;
}

.logo{
    color: #ffffff36;
    /*background-image: url(clipart.png);*/
	background-image: url(clipart_2.png);
    -webkit-background-clip: text;
    background-size: auto;
}

.logo-under{
    z-index: -1;
    color: #0984e3;
}

.wheel{
    height: 65px;
    animation: wheel 10s linear infinite alternate;
}

@keyframes road {
    from {
        background-position: left 0 top -30px;
    }
    to {
        background-position: left 500px top -30px;;
    }
}

@keyframes wheel{
    to{
        transform: rotate(720deg);
    }
}

.dive{
    width: '50%';
    height: '50%';
text-align: center;
border-width: 2;
border-color: aliceblue;
background-color:'#2A3E4A';

}